* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

h1, h2, h3, h4 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #2C3E50;
}

a:link,
a:visited {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

label {
  font-family: 'Ubuntu', sans-serif;
  color: #2C3E50;
  font-size: 1.25em;
}

header {
}

.container {
  margin-bottom: 50px;
}

.header-top {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin: 0 auto;
}

.header-top-left {
  width: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search {
  margin-right: 20px;
}

.login {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding-right: 20px;
}

.login2 {
  display: flex;
  align-self: center;
}

nav {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: #F7882F;
}

.menu {
  font-family: 'Ubuntu', sans-serif;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.menu li {
  list-style: none;
}

.menu li a {
  color: #212121;
}

.banner {
  height: 300px;
  color: #212121;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/banners/whats-on-banner.jpg);
  background-size: cover;
  background-position: right;
}

.banner-contact-us {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/banners/contact-us-banner.jpg);
  background-size: cover;
  background-position: right;
  color: white;
}

.main {
  margin-top: 30px;
  margin-bottom: 20px;
}

.content {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.content header {
  margin-bottom: 20px;
}

footer {
  height: 300px;
  background-color: #DCC7AA;
}

.footer-content {
  height: 270px;
  display: flex;
  justify-content: center;
}

.footer-content-left {
  width: 30%;
  background-color: #6B7A8F;
}

.footer-content-center {
  width: 40%;
  background-color: #6B7A8F;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-content-right {
  width: 30%;
  background-color: #6B7A8F;
}

.copyright {
  height: 30px;
  background-color: #F7882F;
  color: #DCC7AA;
  line-height: 30px;
  font-size: 0.8em;
  text-align: center;
}

#index{}
.featured {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: white;
  background-size: cover;
  background-position: bottom;
}

.logo {
  width: 33.33%;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 20px;
}

.logo2 {
}

.featured-picture {
  width: 100%;
  height: 360px;
}

.featured-picture img {
  background-color: white;
  width: 100%;
  height: 360px;
  object-fit: cover;
  object-position: center;
}

.content-main {
  width: 65%;
  padding-right: 50px;
}

.dogs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dog {
  width: 280px;
  height: 400px;
  margin-bottom: 10px;
}

.dog figure {
  background-color: #F7C331;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.dog img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.dog p {
  line-height: 1.5em;
}

.content-side {
  width: 35%;
}

.news {
  height: 200px;
  margin-bottom: 5px;
}

.news figure {
  background-color: #F7C331;
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
  margin-bottom: 100px;
}

.news p {
  line-height: 1.5em;
}

.date {
  font-style: italic;
  color: #6B7A8F;
}

#adoption{}
.recommended {
  width: 100%;
}

.adoption-recommended {
  display: flex;
  overflow-x: scroll;
}

.adoption-recommended .dog {
  min-width: 200px;
  height: 250px;
  margin-right: 20px;
}

.adoption-recommended::-webkit-scrollbar {
    width: 1em;
}

.adoption-recommended::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.adoption-recommended::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #F7882F;
  outline: 1px solid slategrey;
}

.adoption-main {
}

.contact-us {
  width: 70%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #EFEFEF;
}

.address {
  padding: 20px;
  width: 30%;
  background-image: url(../images/map.png);
  background-position: left;
  background-size: cover;
}

.fill label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.fill input {
  outline: none;
  width: 80%;
  border: none;
  border-bottom: 1px solid #EFEFEF;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.fill select {
  outline: none;
  border-radius: 10px;
  border: 1px solid #EFEFEF;
  font-size: 1em;
  margin-bottom: 20px;
}

.contact-bottom {
  width: 300px;
  height: 200px;
  background-color: #F7882F;
}

.login-page {
  display: block;
  margin: 0 auto;
}

.registration {
  display: block;
  margin: 0 auto;
}

.submit-btn {
  border: none;
  background-color: #F7882F;
  border-radius: 20px;
  width: 100px;
  margin-top: 30px;
  padding: 10px;
  font-size: 1.2em;
}

textarea {
  width: 80%;
  height: 200px;
  outline: none;
  border: none;
  border-bottom: 1px solid #EFEFEF;
  font-size: 1.2em;
}

.filter {
  margin-bottom: 20px;
}

.filter select {
  font-family: 'Roboto', sans-serif;
  color: #2C3E50;
  font-size: 1em;
}

.filter-button {
  background-color: #F7882F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  border-radius: 4px;
  padding: 1px 24px;
}

.filter table {
  width: 100%;
}

.filter td {
  width: 60%;
  height: 350px;
  padding-bottom: 20px;
}

.filter .td-img{
  width: 40%;
  height: 300px;
}
.filter .dog {
  width: 100%;
  height: 300px;
  background-color: yellow;
}

.filter .dog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  padding-right: 20px;
}

.filter h3 {
  letter-spacing: 2px;
}

.filter p {
  font-size: 12px;
}

#login{}
.login {
}

#registration{}
.registration{
}
